body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    padding: 20px; 
    background-color: #f4f4f4;
}

.hidden { 
    display: none; 
}

#feedback { 
    font-size: 20px; 
    font-weight: bold; 
    margin-top: 10px; 
}

.success { 
    color: green; 
}

.error { 
    color: red; 
}

#suggestions {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: 5px auto;
    border: 1px solid #ddd;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* Caché par défaut */
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#suggestions li:hover, 
#suggestions li.selected { 
    background: #ddd; 
}


#history {
    margin-top: 20px;
}

.history-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background: white;
}

.history-item p {
    margin: 5px 0;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 2px solid black;
}

.history-table th, .history-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.history-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.correct {
    background-color: #8fda92 !important; /* Vert clair */
    color: black;
}

.incorrect {
    background-color: #e57373 !important; /* Rouge clair */
    color: black;
}

.partial {
    background-color: rgb(244, 197, 57);
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    max-width: 150px; /* Ajuste selon tes besoins */
}

img {
    max-width: 100px;
    height: auto;
}

#logo {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto;
}


