/* Barre de défense (image) */
#defensebar {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
    margin: 0;
    z-index: 1000; /* S'assure qu'elle reste au-dessus des autres éléments */
}

#defensebar img {
    width: 60%;
    height: auto;
    max-width: none;
    display: inline-block;
}