/* Barre de défense (image) */
#defensebar img {
    width: auto;
    height: 100%;
    max-width: 40%;
    display: inline-block;
}

#defensebar {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
    margin: 0;
    z-index: 1000;
    width: 100%;
    height: 5%;
}