/* Réinitialisation des bordures pour des éléments spécifiques */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    padding: 20px; 
    background-color: #f4f4f4;
}

/* Logo dans l'en-tête */
#logo {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto;
}

/* Conteneur pour les filtres */
#groupFilters {
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding: 10px;
    border: 2px solid #328CBD;
    border-radius: 10px;
    background-color: #F6F6F6;
}

#groupFilters label {
    font-size: 16px;
    color: #328CBD;
    margin-right: 15px;
    margin-bottom: 5px;
    display: inline-block;
}

#groupFilters button {
    padding: 10px;
    background-color: #328CBD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 0;
    display: block;
}

#groupFilters button:hover {
    background-color: #28799D;
}

/* Section des indices */
#hints {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.hint {
    display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: not-allowed;
}

.hint p {
    color: #328CBD;
}

.hint-icon {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.hint-icon.active {
    opacity: 1;
    cursor: pointer;
}

.hint-icon.disabled {
    opacity: 0.5;
}

/* Détails des indices */
#hint-details {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #F6F6F6;
    border: 1px solid #328CBD;
    border-radius: 10px;
}

/* Barre de défense (image) */
#defensebar {
    text-align: center;
    margin: 20px 0;
}

#defensebar img {
    width: 50%; /* Agrandit l'image à 50% de sa taille d'origine */
    height: auto;
    max-width: none;
    display: inline-block;
}

/* Entrée de texte pour la devinette */
#guessInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #328CBD;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    font-size: 16px;
}

/* Suggestions de texte */
#suggestions {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: 5px auto;
    border: 1px solid #ddd;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* Caché par défaut */
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#suggestions li:hover, 
#suggestions li.selected { 
    background: #ddd; 
}

/* Bouton de validation */
#validateButton {
    padding: 10px;
    background-color: #328CBD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#validateButton:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

#validateButton:hover:enabled {
    background-color: #28799D;
}

/* Retour d'information sur la devinette */
#feedback {
    font-size: 20px; 
    font-weight: bold; 
    margin-top: 10px; 
    color: #328CBD;
}

.success { 
    color: green; 
}

.error { 
    color: red; 
}

/* Historique des tests */
#history {
    margin-top: 20px;
    padding: 10px;
    background-color: #F6F6F6;
    border: 1px solid #328CBD;
    border-radius: 10px;
}

.history-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background: white;
}

.history-item p {
    margin: 5px 0;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 2px solid black;
}

.history-table th, .history-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.history-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.correct {
    background-color: #8fda92;
    color: black;
    position: relative;
}

.incorrect {
    background-color: #e57373;
    color: black;
    position: relative;
}

.partial {
    background-color: #f4c539;
    color: black;
    position: relative;
}

.lower::after,
.bigger::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15;
}

.lower::after {
    background-image: url('resources/img/icons/arrow/down.png');
}

.bigger::after {
    background-image: url('resources/img/icons/arrow/up.png');
}

/* Tableaux */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    max-width: 150px;
}

/* Images */
img {
    max-width: 100px;
    height: auto;
}

.hidden { 
    display: none; 
}
