/* Base */
@import './base/variables.css';
@import './base/reset.css';
@import './base/typography.css';

/* Layout */
@import './layout/backgrounds.css';
@import './layout/header.css';
@import './layout/main.css';

/* Components */
@import './components/gamemode-selector.css';
@import './components/filters.css';
@import './components/hints.css';
@import './components/guessbar.css';
@import './components/feedback.css';
@import './components/results.css';
@import './components/info-page.css';
@import './components/defensebar.css';
@import './components/cookie-banner.css';

/* Utilities */
@import './utilities/helpers.css';
@import './utilities/loading.css';
@import './utilities/ads.css';

/* Responsive */
/*@import './responsive/tablet.css';*/
@import './responsive/mobile.css';